*.pdb
*.cache
*.props
*.nuget.g.targets
*.dll
*.lock
*.g.cs
*.immediate
*.lastbuildstate
*.log
*.opensdf
*.sdf
*.suo
*.tlog
*.trx
*.user
*.d
*.o
*.elf
*.map
*.hex
*.mk
*.a
*.bash
*.orig
*.axf
*.bin
*.tmp
*.psess
*.vsp
*.vsps

_ReSharper*

.vs
bin/
obj/
